@{
    ViewData["Title"] = "Index";
}

<h1 class="display-4">Welcome to the Table</h1>

<h2>Pull up a chair!</h2>

<br />

<div class="text-center">
    <script type="text/javascript">
        function () {
            alert ('this is javascript!');
    }
    </script>

    <style type="text/css">
        .bgcolor {
            background-color: saddlebrown;
        }
    #MainContainer {
        color: antiquewhite;
    }

    @@media (min-width: 576px) {
        .chair-height {
            height: 60px;
        }
    }

    @@media (min-width: 576px) {
        .chair-height {
            height: 60px;
        }
    }

    @@media (min-width: 768px) {
        .chair-height {
            height: 80px;
        }
    }

    @@media (min-width: 992px) {
        .chair-height {
            height: 100px;
        }
    }

    @@media (min-width: 1200px) {
        .chair-height {
            height: 120px;
        }
    }
    </style>


    <div class="container bgcolor" id="MainContainer">
        <div class="row chair-height">
            <div class="col">
                Empty
            </div>
            <div class="col">
                <a class="nav-link" asp-area="" asp-controller="Navigator" asp-action="Index"><abbr title="Maps! Charts! Cities! Excitement!">The Navigator</abbr></a>
            </div>
            <div class="col">
                <abbr title="Party inventory, gold, assets, and expenditures">The Quartermaster</abbr>
            </div>
        </div>
        <div class="row chair-height">
            <div class="col">
                Literally God <p>(unavailable)</p>
            </div>
            <div class="col">
                Table-top
            </div>
            <div class="col">
                Table-top
            </div>
        </div>
        <div class="row chair-height">
            <div class="col">
                Empty
            </div>
            <div class="col">
                <abbr title="Calendars, timelines, and orders of events">The Timekeeper</abbr>
            </div>
            <div class="col">
                <abbr title="NPC and PC notes, the shifty lil fuckers">The Character Witness</abbr>
            </div>
        </div>
    </div>

    <br />
    
    <p>Please click here to access our charitable foundation aiming to help starving koala bears in Australia. <a href="https://docs.microsoft.com/aspnet/core"> Every leaf counts!</a>.</p>
    
    <footer>&copy; Dietsch & Williams 2020</footer>
 
</div>


